ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #333;
}

ul {

position: fixed; bottom: 0; width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: ##F0F8FF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: #111;
    
     li {
        float: left;
    }

    li a, .dropbtn {
        display: inline-block;
        color: #ffffff;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
    }

li a:hover, .dropdown:hover .dropbtn {
    background-color: #000000;
}

li-dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1f2d41;
    min-width: 160px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #000000;}

.dropdown:hover .dropdown-content {
  display: block;
    
}
