ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: grey;
    border: 1px solid #555;
    }

    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
text-align: center;
border-bottom: 1px solid #555;
    }
  
li a:hover {
    background-color: #555;
    color: white;
}
   li:last-child {
       border-bottom: none;
   }